.container {
  margin-top: 2em;
}

img {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}

.custom-text {
  // font-family: "Dancing Script", cursive;

  text-align: center;
  margin-bottom: 1em;
}
