.background {
  background-image: url("../../../assets/contacts/contacts-giedre.webp");
  background-color: grey;
  background-color: #cccccc;
  height: auto;
  min-height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 2600px;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
}

a {
  letter-spacing: 2px;
}

.hidden {
  visibility: visible;
}

.ng-pristine,
.ng-valid,
.ng-invalid {
  box-shadow: none;
}

.error-message {
  font-size: 13px;
  color: red;
}
.error-border {
  border: 1px solid red;
}

@media (min-width: 769px) {
  .background {
    min-height: 55vh;
    margin: 0 auto;
  }
  .hidden {
    visibility: hidden;
  }
}
@media (min-width: 1300px) {
  .background {
    min-height: 70vh;
  }
}
