<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h4 class="text-center mt-5 mb-3">Mano vardas Giedrė</h4>
      <p class="text-align">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id temporibus
        itaque nisi, architecto doloremque officia laudantium omnis voluptas
        similique optio debitis a facilis quasi error obcaecati neque ullam
        quibusdam numquam. Et ab officia neque vitae ipsa atque ipsum id esse
        ipsam, rerum, doloremque quaerat dignissimos veniam voluptas eligendi
        voluptatem numquam dolorum laboriosam placeat? Voluptatem, cum. Ullam
        consequuntur eum impedit porro.
      </p>
      <br />
      <p class="text-align">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id temporibus
        itaque nisi, architecto doloremque officia laudantium omnis voluptas
        similique optio debitis a facilis quasi error obcaecati neque ullam
        quibusdam numquam. Et ab officia neque vitae ipsa atque ipsum id esse
        ipsam, rerum, doloremque quaerat dignissimos veniam voluptas eligendi
        voluptatem numquam dolorum laboriosam placeat? Voluptatem, cum. Ullam
        consequuntur eum impedit porro.
      </p>
      <br />
      <p class="text-align">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id temporibus
        itaque nisi, architecto doloremque officia laudantium omnis voluptas
        similique optio debitis a facilis quasi error obcaecati neque ullam
        quibusdam numquam. Et ab officia neque vitae ipsa atque ipsum id esse
        ipsam, rerum, doloremque quaerat dignissimos veniam voluptas eligendi
        voluptatem numquam dolorum laboriosam placeat? Voluptatem, cum. Ullam
        consequuntur eum impedit porro.
      </p>
    </div>
    <div class="col-md-5 my-5">
      <img
        src="../../../assets/about-me/giedre.jpg"
        alt=""
        class="img-fluid"
        width="640"
        height="940"
      />
    </div>
  </div>
</div>
