<footer class="container-fluid">
  <div class="container">
    <div class="row text-center">
      <div class="col-12 col-md-6 flex">
        <h4 class="mb-1"><b> Kontaktai</b></h4>
        <ul>
          <li>
            <a href="tel:+37060493431">+37060493431</a>
          </li>
          <li>
            <a href="mailto:info@giedredanielephotography.lt"
              >info@giedredanielephotography.lt</a
            >
          </li>
          <li>
            <a
              href="https://www.facebook.com/giedredaniele.photography"
              target="blank"
              class="fa fa-facebook"
            ></a>
            <a
              href="https://www.instagram.com/giedre.daniele.photography/"
              target="blank"
              class="fa fa-instagram"
            ></a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6 flex">
        <h4 class="mb-1"><b>Nuorodos</b></h4>
        <ul>
          <li><a routerLink="/" class="underline">Pradžia</a></li>
          <li>
            <a routerLink="/apie" class="underline">Apie mane</a>
          </li>
          <li>
            <a routerLink="/portfolio" class="underline">Protfolio</a>
          </li>
          <li>
            <a routerLink="/kontaktai" class="underline">Kontaktai</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      Copyright © {{ currentYear }} Giedre Daniele Photography
    </div>
  </div>
</footer>
