@use "../../../styles/base/global";
@use "../../../styles/base/fonts";

.container-fluid {
  background-color: global.$primary;
  padding: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  height: 3px;
  background-color: red;
  border: none;
}

.copyright {
  padding-top: 3em;
  color: fonts.$text-color;
  font-size: 10px;
  text-align: center;
}
