<footer class="container-fluid">
  <div class="container">
    <div class="row text-center">
      <div class="col-12 col-md-6 flex">
        <h4 class="mb-1">Kontaktai</h4>
        <ul>
          <li>
            <a href="tel:+37060493431">+37060493431</a>
          </li>
          <li>
            <a href="mailto:giedre@giedredanielfotografe.lt"
              >giedre@giedredanielfotografe.lt</a
            >
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6 flex">
        <h4 class="mb-1">Nuorodos</h4>
        <ul>
          <li><a routerLink="/" class="underline">Titulinis</a></li>
          <li>
            <a routerLink="/about" class="underline">Apie mane</a>
          </li>
          <li>
            <a routerLink="/about" class="underline">Protfolio</a>
          </li>
          <li>
            <a routerLink="/contacts" class="underline">Kontaktai</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      Copyright © {{ currentYear }} Giedrė Danielė Fotografė
    </div>
  </div>
</footer>
