<div class="container">
  <div class="image-row-div">
    <div class="image-div" *ngFor="let image of images; let i = index">
      <a routerLink="/portfolio" *ngIf="i < 5">
        <img
          fetchpriority="high"
          [src]="image.image"
          alt="{{ image.imageDescription }}"
          class="image"
          width="350"
          height="520"
        />
        <div class="image-text">
          <h5 class="m-0">{{ image.imageDescription }}</h5>
        </div>
      </a>
      <a routerLink="/portfolio" *ngIf="i >= 5">
        <img
          [src]="image.image"
          alt="{{ image.imageDescription }}"
          class="image"
          width="350"
          height="520"
          loading="lazy"
        />
        <div class="image-text">
          <h5 class="m-0">{{ image.imageDescription }}</h5>
        </div>
      </a>
    </div>
  </div>
</div>

<!-- fragment -->
<app-comments id="atsiliepimai"></app-comments>

<app-comments-form
  (close)="formHidden = true"
  *ngIf="!formHidden"
></app-comments-form>

<div class="text-center mt-3">
  <button mat-raised-button id="button" (click)="formHidden = !formHidden">
    {{ formHidden ? "Palikti atsiliepimą" : "Uždaryti formą" }}
  </button>
</div>
