<nav class="navbar-expand-md navbar-position">
  <div class="container-fluid">
    <div class="container">
      <div class="logo-button-div">
        <div class="logo">
          <img
            class="logo-image"
            src="assets/logo/logo-main.webp"
            alt="logo"
            class="img-fluid"
          />
        </div>
        <div>
          <button
            class="menu-button"
            [ngClass]="{ active: isMenuCollapsed === true }"
            type="button"
            title="burger-menu"
            (click)="isMenuCollapsed = !isMenuCollapsed"
          >
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </button>
        </div>
      </div>
      <div [ngbCollapse]="!isMenuCollapsed" class="collapsed navbar-collapse">
        <ul class="navbar-list">
          <li class="underline">
            <a
              routerLink="/"
              routerLinkActive="link-active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="isMenuCollapsed = false"
              (click)="isSecondaryMenuCollapsed = true"
              >PRADŽIA</a
            >
          </li>

          <li class="underline">
            <a
              routerLink="/apie"
              routerLinkActive="link-active"
              (click)="isMenuCollapsed = false"
              (click)="isSecondaryMenuCollapsed = true"
              >APIE MANE</a
            >
          </li>

          <li
            class="underline"
            #myDrop="ngbDropdown"
            ngbDropdown
            *ngIf="!mobileContainer"
          >
            <a
              class="portfolio-link"
              routerLinkActive="link-active"
              routerLink="/portfolio"
              (click)="isMenuCollapsed = false"
            >
              PORTFOLIO
            </a>
            <span ngbDropdownToggle>
              <i [ngClass]="myDrop.isOpen() ? 'arrow up' : 'arrow down'"></i>
            </span>
            <ul ngbDropdownMenu class="dropdown-links-desktop">
              <li>
                <a
                  ngbDropdownItem
                  [routerLink]="['portfolio', 'name', Categories.ASMENINES]"
                  >Asmeninė fotosesija</a
                >
              </li>
              <li>
                <a
                  ngbDropdownItem
                  [routerLink]="['portfolio', 'name', Categories.IVAIZDZIO]"
                  >Įvaizdžio fotosesija</a
                >
              </li>
              <li>
                <a
                  ngbDropdownItem
                  [routerLink]="['portfolio', 'name', Categories.SVENTES]"
                  >Šventės</a
                >
              </li>
              <li>
                <a
                  ngbDropdownItem
                  [routerLink]="['portfolio', 'name', Categories.RENGINIAI]"
                  >Renginiai</a
                >
              </li>
              <li>
                <a
                  ngbDropdownItem
                  [routerLink]="['portfolio', 'name', Categories.PROJEKTAI]"
                  >Projektai</a
                >
              </li>
            </ul>
          </li>

          <!-- Mobile container -->

          <li class="nav-item" *ngIf="mobileContainer">
            <ul class="mobile-ul_row">
              <li>
                <a
                  class="nav-link text-center"
                  routerLink="/portfolio"
                  routerLinkActive="link-active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="isMenuCollapsed = false"
                  (click)="isSecondaryMenuCollapsed = true"
                >
                  PORTFOLIO
                </a>
              </li>
              <li>
                <i
                  [attr.aria-expanded]="isSecondaryMenuCollapsed"
                  aria-controls="collapseExample"
                  role="button"
                  (click)="collapse.toggle()"
                  [ngClass]="
                    !isSecondaryMenuCollapsed ? 'arrow up' : 'arrow down'
                  "
                ></i>
              </li>
            </ul>
            <div
              #collapse="ngbCollapse"
              [(ngbCollapse)]="isSecondaryMenuCollapsed"
            >
              <div class="navbar-nav d-flex flex-column text-center">
                <a
                  class="nav-link"
                  (click)="isMenuCollapsed = false"
                  (click)="collapse.toggle()"
                  [routerLink]="['portfolio', 'name', Categories.ASMENINES]"
                  >Asmeninė fotosesija</a
                >
                <a
                  class="nav-link"
                  (click)="isMenuCollapsed = false"
                  (click)="collapse.toggle()"
                  [routerLink]="['portfolio', 'name', Categories.IVAIZDZIO]"
                  >Įvaizdžio fotosesija</a
                >
                <a
                  class="nav-link"
                  (click)="isMenuCollapsed = false"
                  (click)="collapse.toggle()"
                  [routerLink]="['portfolio', 'name', Categories.SVENTES]"
                  >Šventės</a
                >
                <a
                  class="nav-link"
                  (click)="isMenuCollapsed = false"
                  (click)="collapse.toggle()"
                  [routerLink]="['portfolio', 'name', Categories.RENGINIAI]"
                  >Renginiai</a
                >
                <a
                  class="nav-link"
                  (click)="isMenuCollapsed = false"
                  (click)="collapse.toggle()"
                  [routerLink]="['portfolio', 'name', Categories.PROJEKTAI]"
                  >Projektai</a
                >
              </div>
            </div>
          </li>

          <li class="underline">
            <a
              class="portfolio-link"
              routerLinkActive="link-active"
              (click)="goToComments()"
              (click)="isMenuCollapsed = false"
              (click)="isSecondaryMenuCollapsed = true"
            >
              ATSILIEPIMAI
            </a>
          </li>

          <li class="underline">
            <a
              routerLink="/kontaktai"
              routerLinkActive="link-active"
              (click)="isMenuCollapsed = false"
              (click)="isSecondaryMenuCollapsed = true"
            >
              KONTAKTAI</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div
  *ngIf="isMenuCollapsed"
  class="backdrop"
  (click)="isMenuCollapsed = false"
></div>
