<nav class="navbar-expand-md navbar-position">
  <div class="container-fluid">
    <div class="container">
      <div class="logo-button-div">
        <div class="logo">
          <img
            class="logo-image"
            src="assets/logo/logo-main.webp"
            alt="logo"
            class="img-fluid"
          />
        </div>
        <div>
          <button
            class="menu-button"
            [ngClass]="{ active: isMenuCollapsed === true }"
            type="button"
            title="burger-menu"
            (click)="isMenuCollapsed = !isMenuCollapsed"
          >
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </button>
        </div>
      </div>
      <div [ngbCollapse]="!isMenuCollapsed" class="collapsed navbar-collapse">
        <ul class="navbar-list">
          <li class="underline">
            <a
              routerLink="/"
              routerLinkActive="link-active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="isMenuCollapsed = false"
              >PRADŽIA</a
            >
          </li>

          <li class="underline">
            <a
              routerLink="/apie"
              routerLinkActive="link-active"
              (click)="isMenuCollapsed = false"
              >APIE MANE</a
            >
          </li>

          <li class="underline">
            <a
              class="portfolio-link"
              routerLinkActive="link-active"
              routerLink="/portfolio"
              (click)="isMenuCollapsed = false"
            >
              PORTFOLIO
            </a>
          </li>
          <li class="underline">
            <a
              class="portfolio-link"
              routerLinkActive="link-active"
              (click)="goToComments()"
              (click)="isMenuCollapsed = false"
            >
              ATSILIEPIMAI
            </a>
          </li>

          <li class="underline">
            <a
              routerLink="/kontaktai"
              routerLinkActive="link-active"
              (click)="isMenuCollapsed = false"
            >
              KONTAKTAI</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div
  *ngIf="isMenuCollapsed"
  class="backdrop"
  (click)="isMenuCollapsed = false"
></div>
