@use "../../../styles/base/global";
@use "../../../styles/base/fonts";
@use "../../../styles/modules/burger-menu";

.container-fluid {
  background-color: global.$primary;
}

.logo-button-div {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 85px;
  height: auto;
}

ul {
  list-style-type: none;
}

.navbar-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-list li {
  margin: 0.3em;
}

.portfolio-link {
  cursor: pointer;
}

.dropdown-toggle::after {
  display: none;
}

.arrow {
  margin-left: 7px;
  margin-bottom: 1px;
  border: solid fonts.$text-color;
  border-width: 0 1px 1px 0;
  display: inline-block;
  cursor: pointer;
  padding: 2.5px;

  transition: 0.3s ease-in-out;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.mobile-ul_row {
  display: flex;
  padding-left: 24px;
}

.dropdown-links-dekstop {
  background-color: global.$primary;
  cursor: pointer;
  border: none;
}

@media (max-width: 769px) {
  .navbar-position {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  .navbar-list {
    padding-bottom: 0.6em;
    padding-left: 0;
  }
}

@media (min-width: 769px) {
  .navbar-collapse {
    display: flex;
    justify-content: center;
  }

  .logo-button-div {
    padding: 7px 0;
    justify-content: center;
  }

  .navbar-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

    li {
      margin: 0 1em;
    }
  }
}
