$text-color: #4b4e53;

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  // color: $text-color;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  font-size: 0.8rem;
  color: $text-color;
  letter-spacing: 3px;

  &:hover {
    color: cadetblue;
  }
}

.link-active {
  color: cadetblue;
}
// Header and footer link underline
@media screen and (min-width: 576px) {
  .underline {
    position: relative;
  }

  .underline::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -2%;
    width: 0%;
    height: 1px;
    background-color: lightgrey;
    opacity: 0;
    transition: opacity 300ms, width 600ms;
  }

  .underline:hover::after {
    opacity: 1;
    width: 100%;
  }
}
